/* You can add global styles to this file, and also import other style files */

:root{
    --white-color:  #ffffff;
    --light-purple: #f7f4ff;
    --purple-color: #6b5cf6;
    --black-color: #000000;
    --shade-purple:#e4e9f7;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
